<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Msgr</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%= if @current_user do %>
    	<div id="nav-fix" class="fixed-top">
        	<nav class="navbar navbar-light bg-white col-xl-8 ">
            	<%= link to: message_path(@conn, :index), class: "navbar-brand" do %>
                	<img src="<%= static_path(@conn, "/images/logo.png") %>" width="25" height="25" class="d-inline-block align-center" alt="logo">
                	Msgr
            	<% end %>
            	<ul class="navbar-nav mr-auto">
                	<li class="nav-item active">
                    	<%= link to: message_path(@conn, :index),  class: "nav-link" do %>Home<% end %>
                	</li>
            	</ul>
            	<div id="nav-right" class="form-inline">
                	<form id="search" action="<%= user_path(@conn, :index) %>" method="GET" class="form-inline my-2 my-lg-0">
                    	<input type="text" class="form-control" name="query" placeholder="Search users" aria-label="Search Msgr">
                    	<button id="search-icon" type="submit"><img src="<%= static_path(@conn, "/images/search.png") %>" width="20" height="20" class="d-inline-block align-center" alt="search"></button>
                	</form>
                	<div class="dropdown">
                    	<button id="nav-user" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    	<div class="dropdown-menu dropdown-menu-left">
                        	<h1 class="dropdown-header dropdown-header-main"><%= @current_user.full_name %></h1>
                        	<h6 class="dropdown-header dropdown-header-sub"><%= @current_user.username %></h6>
				<%= link "Profile", to: user_path(@conn, :show, @current_user),  class: "dropdown-item" %>
                        	<div class="dropdown-divider"></div>
                          <%= link "Log out", to: session_path(@conn, :logout), method: :delete, class: "dropdown-item" %>
                    	</div>
                	</div>
                	<button id="post" class="btn my-2 my-sm-0" data-toggle="modal" data-target="#postModal">Post</button>
            	</div>
        	</nav>
    	</div>
    <% else %>
    <div id="nav-fix" class="fixed-top">
        <nav class="navbar navbar-light bg-white col-xl-8 ">
            <%= link to: message_path(@conn, :index), class: "navbar-brand" do %>
                <img src="<%= static_path(@conn, "/images/logo.png") %>" width="25" height="25" class="d-inline-block align-center" alt="logo">
                Msgr
            <% end %>
            <%= form_for @conn, session_path(@conn, :login), [as: "user", class: "form-inline"], fn f -> %>
                <input type="text" class="form-control" name="username_email" placeholder="Username or email" aria-label="Enter username or email">
                <input type="password" class="form-control" name="password" placeholder="Password" aria-label="Enter password">
                <input type="submit" class="btn my-2 my-sm-0 btn-msgr" value="Log in">
            <% end %>
        </nav>
    </div>
    <% end %>
    <div id="main" class="container col-xl-8 col-lg-10 col-sm-12">
        <%= if get_flash(@conn, :info) do %>
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <% end %>
	<%= if get_flash(@conn, :error) do %>
	    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
	<% end %>

		<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="newPost" aria-hidden="true">
    	<div id="postBox" class="modal-dialog" role="document">
     		<div class="new-post" data-path="<%= message_path(@conn, :create) %>" data-user-id="<%= @current_user.id %>">
       		<div class="user-icon"></div>
       		<textarea class="form-control" placeholder="Write a message..." aria-label="Write a message..."></textarea>
       		<button class="btn btn-msgr my-2 my-sm-0" type="submit" data-dismiss="modal">Post</button>
     		</div>
    	</div>
		</div>

		<main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
