#nav-fix {
  box-shadow: 0px 10px 5px -10px rgba(0, 0, 0, 0.1);
}

.navbar {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.navbar::before, .navbar::after {
  content: '';
  position: absolute;
  background: white;
  width: 50vw;
  height: 100%;
  z-index: -1;
}

.navbar::before {
  transform: translateX(-100%);
}

.navbar::after {
  right: 0;
  transform: translateX(100%);
}

.navbar-brand {
  font-weight: 800;
}

#post {
  background: #FF4646;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
}

nav button {
  cursor: pointer;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-nav li {
  display: inline-block;
}

#search {
  position: relative;
}

#search input[type="text"] {
  padding-left: 0.75rem;
  padding-right: 2.5rem;
  border-radius: 5px;
  background: #EDF3F5;
}

#search input[type="text"]:focus {
  background: #fff;
}

#search #search-icon {
  position: absolute;
  top: calc(50% - 2px);
  transform: translateY(-50%);
  right: 0.75rem;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

#nav-user {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 5px;
  background-image: url("/images/profile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 1rem;
  border: 0;
  transform: translateY(1px);
}

.dropdown .dropdown-toggle::after {
  display: none;
}

.dropdown .dropdown-menu {
  transform: translateX(-60%);
}

.dropdown .dropdown-header, .dropdown .dropdown-item {
  padding-left: 1rem;
  padding-right: 1rem;
}

.dropdown .dropdown-header-main {
  font-size: 1.2rem;
  color: #000;
  padding-bottom: 0;
}

.dropdown .dropdown-header-sub {
  padding-top: 4px;
}

.dropdown .dropdown-header-sub::before {
  content: '@';
}

.nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.nav-item.active::after {
  content: '';
  position: absolute;
  width: 90%;
  height: 5px;
  background: #FF4646;
  bottom: -0.5rem;
  left: 5%;
  z-index: 3;
  transform-origin: bottom;
}

.nav-item.active .nav-link {
  font-weight: 600;
  color: #CE2222 !important;
}

@media (max-width: 992px) {
  .nav-item {
    padding-left: 0;
    padding-right: 1rem;
  }
  .nav-item.active::after {
    display: none;
  }
}

body {
  background: #F2E6E6;
}

#main {
  margin-top: 5rem;
}

@media (max-width: 576px) {
  #main {
    padding-left: 0;
    padding-right: 0;
  }
}

.post-list {
  list-style: none;
  padding: 0;
}

.post-list-item {
  position: relative;
  background: #fff;
  border-bottom: 2px solid #F2E6E6;
  padding-bottom: 0.6rem;
  cursor: pointer;
}

.post-list-item:hover {
  background: #FFFAFA;
}

.post-list-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.post-list-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-width: 0;
}

.post-list-item .user-icon {
  width: 3rem;
  height: 3rem;
  background-color: #D6DDEB;
  background-image: url("/images/profile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 1rem;
  top: 1rem;
  border-radius: 5px;
}

.post-list-item .main-info {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 5rem;
  padding-right: 2rem;
}

.post-list-item .main-info p {
  padding: 0;
  margin: 0;
}

.post-list-item .main-info .user-info p {
  display: inline-block;
}

.post-list-item .main-info .user-info .full-name {
  font-weight: 600;
}

.post-list-item .main-info .user-info .username {
  color: #888;
}

.post-list-item .main-info .user-info .username::before {
  content: '@';
}

.post-list-item .main-info .user-info .username::after {
  content: ' | ';
}

.post-list-item .main-info .content {
  color: #222;
}

.post-list-item .main-info .content a {
  color: #CE2222;
}

.post-list-item .main-info .time {
  color: #888;
  font-size: 0.8rem;
}

.post-stats {
  height: 1rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.post-stats-like {
  line-height: 1rem;
}

.post-stats-like .icon {
  height: 1rem;
  width: 1rem;
  background-image: url("/images/like-unsel.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 0.25rem;
  vertical-align: top;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  position: relative;
}

.post-stats-like .icon--selected {
  background-image: url("/images/like-sel.png");
}

.post-stats-like .icon--animated::before {
  animation: pop 1.25s cubic-bezier(0.21, 0.61, 0.35, 1);
}

.post-stats-like .icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: solid 1.5rem #33A8E8;
  transform-origin: center;
  transform: scale(0);
  z-index: 5;
}

.post-stats-like .val {
  color: #888;
  margin-top: 1px;
  font-size: 0.75rem;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
}

@keyframes pop {
  15% {
    border-width: 1.5rem;
    transform: scale(1);
  }
  70%, 100% {
    border-width: 0;
    transform: scale(1);
  }
}

.modal {
  display: block;
}

#msgBox {
  margin-top: 5rem;
  max-width: 600px;
}

.msg-view-top {
  width: 100%;
  height: 7rem;
  background: #F8CBC1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}

.msg-view {
  width: 100%;
  position: relative;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  min-height: 10rem;
}

.msg-view a, .msg-view p {
  margin: 0;
}

.msg-view .user-info {
  padding-left: 7.25rem;
  margin-bottom: 1.25rem;
}

.msg-view .user-info .user-icon {
  width: 6rem;
  height: 6rem;
  background-color: #D6DDEB;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 2rem;
  top: -2rem;
  border-radius: 5px;
  box-shadow: 0 0 0 5px #fff;
}

.msg-view .user-info a, .msg-view .user-info p {
  display: inline-block;
  line-height: 1;
}

.msg-view .user-info .full-name {
  font-weight: 700;
  font-size: 1.4rem;
  margin-right: 0.15rem;
  display: block;
  margin-bottom: 0.15rem;
  color: #333;
}

.msg-view .user-info .username {
  color: #888;
  font-size: 1.1rem;
}

.msg-view .user-info .username::before {
  content: '@';
}

.msg-view .content {
  color: #222;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1.2rem;
}

.msg-view .content a {
  color: #CE2222;
}

.msg-view .time {
  color: #888;
  font-size: 1rem;
}

.msg-view-divider {
  border-top: 2px solid #F2E6E6;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}

.msg-view .post-stats {
  display: block;
}

.btn-like {
  float: right;
}
