<h2>Show Follow</h2>

<ul>

  <li>
    <strong>Follower:</strong>
    <%= @follow.follower_id %>
  </li>

  <li>
    <strong>Subject:</strong>
    <%= @follow.subject_id %>
  </li>

</ul>

<span><%= link "Edit", to: follow_path(@conn, :edit, @follow) %></span>
<span><%= link "Back", to: follow_path(@conn, :index) %></span>
